#main {
    height: auto;
    width: 584px;
    background-color: #005b96;
}
 footer{
 height: 100px;
width: 784px;
background-color: #b3cde0;

}
.row
{
	  display: flex;
  flex-wrap: wrap;

}

p{ color : white;
   text-align: center; }

a{
	color : white;
   text-align: center;
}

